<div class="clubprofile">

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/club_uploads/<%= dude.profilephoto %>" width="300" height="250" alt="">
                    <div class="intro-text">
                        <h1 class="name">This is <%= dude.name%>!</h1>
                        <hr class="star-light">
                        <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
                        <span>Username: <%= dude.username%></span>
			 	   		<br>
				 	   	<span>Email:
				 	   		<span class="email">
				 	   			<%= dude.email%>
				 	   		</span>
				 	   	</span>
				 	   	<br>
				 	   	<span>Phone: <%= dude.phone %></span>
				 	   	<br>
				 	   	<span>Summary:
				 	   		<p><%= dude.summary%></p>
				 	   	</span>
					    <div class="row">
				 	   	    <% if(user!=null && dude.id.toString()==user.id){ %>
							    	<div class="col-sm-4">
								    	<a href="/clubs/editStructre/<%= user.id %>" class="btn btn-lg btnOnGreen">Edit Structre</a>
							    	</div>
							    	<div class="col-sm-4">
								   		<a href="/clubs/addEvent" class="btn btn-lg btnOnGreen">Add Event</a>
							    	</div>
						    <% } %>
						    <div class="col-sm-4">
						   		<a href="/clubs/viewAllMembers/<%= club.id %>" class="btn btn-lg btnOnGreen">View All Members</a>
							</div>
					    </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

	<div class="container container-fluid structure" style="padding-top: 50px; align-self: center; background-color: #333333; color: white;">
		<div class="row row-eq-height" style="margin-left: 37%; color: white;">
			<div class="singleDepartment col-xs-4" style="margin-bottom: 30px;">
				<% if(president!=null && club.logo!="") { %>
				 	<img class="img-circle" src="/club_uploads/<%= club.logo %>" alt="Generic placeholder image" width="200" height="185">
				<% } else { %>
				 	<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="200" height="185">
				<% } %>
				
					<h4 <%if(president.profileId!="none") { %> 
							class="clickableh2" id="<%= president.profileId %>"
							style="cursor:pointer; text-align: center;" 
						<% } else { %>
						style=" text-align: center;"
						<% } %>
						>		
						<%= president.name %>
					</h4>
				
			</div>
		</div>

		<div class="row row-eq-height">
			<div class="singleDepartment col-xs-1" style="width: 5%; padding: 0; ">
				<button id="scrollLeft" style="height: 300px; background-color: #333; border: none;">
					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
				</button>
			</div>
			<div class="deps" id="depsDiv" style="display: flex; width: 90%; text-align: center; color: white;">
				<% departments.forEach(function(department) { %>
					<div class="singleDepartment " style="margin-bottom: 40px;">
						<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="180" height="160">
						<h4 class="clickableh2" id="<%= %>" style="cursor:pointer; text-align: center;"><%= department.name %></h4>
						<% if(department.public=="false") { %>
							<h4 style="color:gray; margin-left: 30px;">Private Memebers</h4>
						<% } else { %>
							<ul class="members" style="display: none;" >
								<% department.members.forEach(function(member) { %>
									<%= member.name %>
									<li style="cursor:pointer; color: white;"><%= member.name %></li>
								<% }); %>	
							</ul>
							<h4 class="viewBtn" id="<%= department.id %>" style="cursor:pointer; color:gray; ">View Memebers</h4>
							<h4 class="hideBtn" id="<%= department.id %>" style="display:none;cursor:pointer; color:gray;">Hide Memebers</h4>
						<% } %>
					</div>
				<%  }); %>
			</div>
			<div class="singleDepartment col-xs-1" style="width: 5%; padding: 0;">
				<button id="scrollRight" style="height: 300px; background-color: #333; border: none;">
					<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		

		<form method="POST" action="/clubs/updateMembers" style="width: 150px;">
			<button type="submit" class="btn btn-success btn-lg" style="margin: 10px;">Update Members</button>	
		</form>
	</div>
	<br>
	<br>
    <div class="row">
	   	<div class="col-xs-8 col-sm-6" style="border: 2px solid grey; border-radius: 5px;  max-width: 45%; margin-right: 5%; margin-left: 2%;">
	    	<h3>Events</h3>
	    	<br>
	    	<table>
	    		<tr>
		    		<div class="container">
			    		<ul>
			    			<% events.forEach(function(event){ %>
			    				<div class="row">
			    				
			    					<div style="width: 100%; margin: 10px; margin-bottom: 40px;">
							 	   		<div class="">
								 	   		<h2 id="<%= event._id %>" style="float: left; color:#333; text-align: center;">
												<%= event.name %>
												<br>
												<br>
												<p style="font-size: 10px;  float: left; text-align: left;">
													<br>
													location: <%= event.location %>
													<br>
													<br>
													from: <%= event.fromDate %>
													<br>
													<br>
													to: <%= event.toDate %>
												</p>
											</h2>
											<br>
												
							 	   		</div>
										<div class="">
											<img class="img-circle" src="/club_uploads/<%= event.logo %>" alt="Generic placeholder image" width="150" height="150" style="float: right; margin-right: 0px;">
										</div>							
	       						</div>
			    					
			    			</div>
			    			<% }); %>
			    		</ul>	
		    		</div>
	    		</tr>
	    	</table>	
	    </div>

	    <div class="col-xs-8 col-sm-6" style="border: 2px solid grey; border-radius: 5px; max-width: 45%;">
	    	<h3>Gallery</h3>
	    	<br>
	    	<table>
	    		<tr>
		    		<div class="container">
		    			<% club.photos.forEach(function(photo){ %>
		    				<img style="max-width: 100%; margin: 5px;" src="/club_uploads/<%= photo.src %>">
		    				<h5 style="text-overflow: ellipsis; max-width: 200px; white-space: nowrap;
	  						overflow: hidden; "><%= photo.name %></h5>
		    			<% }); %>			    		
		    		</div>
	    		</tr>
	    	</table>
	    </div>
    </div>
</div>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script type="text/javascript">

	var redirectSignIn = function() {
		window.location.href = '/users/signin'; 
	}

	var redirectToLink = function(link) {
		console.log(link);
		window.open(link,'_blank');
	}

	$('.viewBtn').click(function() {
		$(this).parent().find('.members').show();
		$(this).parent().find('.hideBtn').show();
		$(this).hide();
	});

	$('.hideBtn').click(function() {
		$(this).parent().find('.members').hide();
		$(this).parent().find('.viewBtn').show();
		$(this).hide();
	});

	$('#scrollLeft').click(function() {
    	$('#depsDiv').animate( { scrollLeft: '-=400' }, 300, 'easeOutQuad' );
	});

	$('#scrollRight').click(function() {
    	$('#depsDiv').animate( { scrollLeft: '+=400' }, 300, 'easeOutQuad' );
	});

	function getDepartments() {
		var url = window.location.href;
		var pieces = url.split("/");
		var clubID = pieces[pieces.length-1];
		$.ajax({
	        type: 'GET',
	        url: '/clubs/getDepartments/' + clubID,
	        success: function(departments) {
	        	departments.forEach(function(department) {
	        		console.log(department._id)
	        		$('#depsDiv').append("<div class=\"singleDepartment\" style=\"margin-bottom: 40px;\">"
						+ "<img class=\"img-circle\" src=\"/user_uploads/koushi-1487686809628.jpg\" alt=\"Generic placeholder image\""  + "width=\"180\" height=\"160\">"
						+ "<h4 class=\"clickableh2\" style=\"cursor:pointer; color:gray; margin-left: 30px;\">"+ department.name +"</h4>");
						if(department.public=="false") {
							$('#depsDiv').append("<h4 style=\"color:gray; margin-left: 30px;\">Private Memebers</h4>");
						} else {
							$("#depsDiv").append("<ul class=\"members\" style=\"display: none;\" >");
								department.members.forEach(function(member) {
									$("#depsDiv").append("<li style=\"cursor:pointer; color:gray;\">"
										+ member.name +"</li>");
								});	
							$("#depsDiv").append("</ul><h4 class=\"viewBtn\" id=\"" + department._id +"\" style=\"cursor:pointer; color:gray; margin-left: 30px;\">View Memebers</h4>"
							+ "<h4 class=\"hideBtn\" id=\""+ department._id +"\" style=\"display:none;cursor:pointer; color:gray; margin-left: 30px;\">Hide Memebers</h4>");
						}
					$("#depsDiv").append("</div>");
	        	}); 
	      	}
		});
	}

	$( document ).ready(function() {
	    // getDepartments();
	});


</script>
