<div class="clubprofile">
	
	<div class="jumbotron">
 	   <div class="intro">
	 	   <div style="float: left">
	 	   		<h1>This is <%= dude.name%>!</h1>
	 	   		<span>Username: <%= dude.username%></span>
	 	   		<br>
		 	   	<span>Email:
		 	   		<span class="email">
		 	   			<%= dude.email%>
		 	   		</span>
		 	   	</span>
		 	   	<br>
		 	   	<span>Phone: <%= dude.phone %></span>
		 	   	<br>
		 	   	<span>Summary:
		 	   		<p><%dude.summary%></p>
		 	   	</span>
	 	   	    <% if(user!=null && dude.id.toString()==user.id){ %>
				    <div style="max-width: 300px;">
				    	<form method="GET" action="/clubs/editStructre/<%= user.id %>" style="float: left;">
							<button type="submit" value="editStructre" class="btn btn-success" style="margin: 10px;">Edit Structure</button>	
						</form>
						<form method="GET" action="/clubs/addEvent" style="float: right;">
							<button type="submit" value="addEvent" class="btn btn-success" style="margin: 10px;">Add Event</button>	
						</form>
				    </div>
			    <% } %>
	    	</div>
	 	   	
	 	   <img class="img-circle profileimg" src="/club_uploads/<%= dude.profilephoto %>" alt="Generic placeholder image" width="300" height="250">
 	   </div>
 	   <br>
    

    </div>

	<div class="container-fluid structure">
		<div class="row row-eq-height" style="margin-left: 30%;">
			<div class="singleDepartment col-xs-4" style="margin-bottom: 30px;">
				<% if(club.president!=null && club.logo!="") { %>
				 	<img class="img-circle" src="/club_uploads/<%= club.logo %>" alt="Generic placeholder image" width="200" height="185">
				<% } else { %>
				 	<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="200" height="185">
				<% } %>
				
					<h4 <%if(club.president.profileId!="none") { %> 
							class="clickableh2" id="<%= club.president.profileId %>"
							style="cursor:pointer; color:gray; margin-left: 30px;" 
						<% } else { %>
						style="color:gray; margin-left: 30px;"
						<% } %>
						>		
						<%= club.president.name %>
					</h4>
				
			</div>
		</div>

		<div class="deps row row-eq-height">
			<% club.departments.forEach(function(department) { %>
				<div class="singleDepartment col-xs-4" style="margin-bottom: 40px;">
					<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="180" height="160">
					<h4 class="clickableh2" id="<%= %>" style="cursor:pointer; color:gray; margin-left: 30px;"><%= department.name %></h4>
					<% department.members.forEach(function(member) { %>
						<li><%= member.name %></li>
					<% }); %>
				</div>
			<%  }) %>
		</div>

		<form method="POST" action="/clubs/updateMembers" style="width: 150px; float: right;">
			<button type="submit" class="btn form-control btn-success" style="margin: 10px;">Update Members</button>	
		</form>
	</div>
	<br>
	<br>
    <div class="row">
	   	<div class="col-xs-8 col-sm-6" style="border: 2px solid grey; border-radius: 5px;  max-width: 45%; margin-right: 5%; margin-left: 2%;">
	    	<h3>Events</h3>
	    	<br>
	    	<table>
	    		<tr>
		    		<div class="container">
			    		<ul>
			    			<% events.forEach(function(event){ %>
			    				<div class="row">
			    				
			    					<div style="width: 100%; margin: 10px; margin-bottom: 40px;">
							 	   		<div class="">
								 	   		<h2 id="<%= event._id %>" style="float: left; color:white; text-align: center;">
												<%= event.name %>
												<br>
												<br>
												<p style="font-size: 10px;  float: left; text-align: left;">
													<br>
													location: <%= event.location %>
													<br>
													<br>
													from: <%= event.fromDate %>
													<br>
													<br>
													to: <%= event.toDate %>
												</p>
											</h2>
											<br>
												
							 	   		</div>
										<div class="">
											<img class="img-circle" src="/club_uploads/<%= event.logo %>" alt="Generic placeholder image" width="150" height="150" style="float: right; margin-right: 0px;">
										</div>							
	       						</div>
			    					
			    			</div>
			    			<% }); %>
			    		</ul>	
		    		</div>
	    		</tr>
	    	</table>	
	    </div>

	    <div class="col-xs-8 col-sm-6" style="border: 2px solid grey; border-radius: 5px; max-width: 45%;">
	    	<h3>Gallery</h3>
	    	<br>
	    	<table>
	    		<tr>
		    		<div class="container" >
		    			<% club.photos.forEach(function(photo){ %>
		    				<img style="max-width: 100%; margin: 5px;" src="/club_uploads/<%= photo.src %>">
		    				<h5 style="text-overflow: ellipsis; max-width: 200px; white-space: nowrap;
	  						overflow: hidden; "><%= photo.name %></h5>
		    			<% }); %>			    		
		    		</div>
	    		</tr>
	    	</table>
	    </div>
    </div>
</div>

<script type="text/javascript">
	var redirectSignIn = function() {
		window.location.href = '/users/signin'; 
	}
	var redirectToLink = function(link) {
		console.log(link);
		window.open(link,'_blank');
	}
</script>

<style type="text/css">
	.row {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	  flex-wrap: wrap;
	}
	.row > [class*='col-'] {
	  display: flex;
	  flex-direction: column;
	}
</style>