	<div id="topDiv" style="position: fixed; z-index: 9; width: 100%; height: 80%; display: none; color: white; align-self: center; font-size: 20px; overflow-y: scroll;">
		<div id="tableTopDiv" style="display: none;">
			
		</div>
	</div>
<div class="clubprofile">


    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/club_uploads/<%= dude.profilephoto %>" width="300" height="250" alt="">
                    <div class="intro-text">
                        <h1 class="name">This is <%= dude.name%>!</h1>
                        <hr class="star-light">
                        <br>
			 	   		<br>
			 	   		<div style="text-align: center; align-self: center; ">
			 	   			<span>Email:
				 	   		<span class="email">
				 	   			<%= dude.email%>
				 	   		</span>
					 	   	</span>
					 	   	<br>
					 	   	<br>
					 	   	<span>Summary:
					 	   		<p><%= dude.summary%></p>
					 	   	</span>
			 	   		</div>
				 	   	
					    <div class="row">
					    	<div class="col-sm-4">
						   		<a href="/clubs/viewAllMembers/<%= club.id %>" class="btn btn-lg btnOnGreen">View All Members</a>
							</div>
				 	   	    <% if(user!=null && dude.id.toString()==user.id){ %>
							    	<div class="col-sm-4">
								    	<a href="/clubs/editStructre/<%= user.id %>" class="btn btn-lg btnOnGreen">Edit Structre</a>
							    	</div>
							    	<div class="col-sm-4">
								   		<a href="/events/addEvent" class="btn btn-lg btnOnGreen">Add Event</a>
							    	</div>
						    <% } %>   
					    </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

	<div class="container container-fluid structure" style="padding-top: 100px; align-self: center; width: 100%; color: white; background-color: #666; min-height: 100vh;">
		<div class="row row-eq-height" style="color: white;">
		<div class="singleDepartment col-xs-4" style="margin-bottom: 30px;">
		</div>
			<div class="singleDepartment col-xs-4" style="margin-bottom: 30px;">
				<% if(president!=null && club.logo!="") { %>
				 	<img class="img-circle" src="/club_uploads/<%= club.logo %>" alt="Generic placeholder image" width="200" height="185" style="align-self: center;">
				<% } else { %>
				 	<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="200" height="185" style="align-self: center;">
				<% } %>
					<h3 style="text-align: center;">President</h3>
					<h4 <%if(president.profileId!="none") { %> 
							class="clickableh2" id="<%= president.profileId %>"
							style="cursor:pointer; text-align: center;" 
						<% } else { %>
						style=" text-align: center;"
						<% } %>
						>		
						<%= president.name || "no preisdent!"%>
					</h4>
				
			</div>
			<div class="singleDepartment col-xs-4" style="margin-bottom: 30px;">
			</div>
		</div>
		<br>
		<br>
		<div class="row row-eq-height">
			<div class="singleDepartment col-xs-1" style="width: 5%; padding: 0; ">
				<button id="scrollLeft" style="height: 300px; border: none; background-color: inherit;">
					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
				</button>
			</div>
			<div class="deps" id="depsDiv" style="display: flex; width: 90%; text-align: center; color: white;">
				<% departments.forEach(function(department) { %>
					<div class="singleDepartment " style="margin-bottom: 40px;">
						<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="180" height="160">
						<h4 class="clickableh2" id="<%= department._id %>" style="cursor:pointer; text-align: center;"><%= department.name %></h4>
						
						<% if(department.nestedType!=null && department.nestedType==="true") { %>
						<div class="subDepartment" id="<% department._id %>" style="display: none;">
							<% department.subDepartments.forEach(function(subDepartment) { %>
								<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="140" height="120">
								<h4 class="clickableh2" id="<%= %>" style="cursor:pointer; text-align: center;"><%= subDepartment.name %></h4>
								<h4 class="viewBtnNest" id="<%= subDepartment.id %>" style="cursor:pointer; color:gray;">View Memebers</h4>

							<% }); %>
						</div>
						<h4 class="viewBtnSub" id="<%= department.id %>" style="cursor:pointer; color:gray;">View Subdepartment</h4>

						<h4 class="hideBtnSub" id="<%= department.id %>" style="cursor:pointer; color:gray; display: none;">Hide Subdepartment</h4>

						<% } else { %>
							<% if(department.public=="false") { %>
								<h4 style="color:gray; margin-left: 30px;">Private Memebers</h4>
							<% } else { %>
								<h4 class="viewBtn" id="<%= department.id %>" style="cursor:pointer; color:gray;">View Memebers</h4>
							<% } %>
						<% } %>
						
					</div>
				<%  }); %>
			</div>
			<div class="singleDepartment col-xs-1" style="width: 5%; padding: 0;">
				<button id="scrollRight" style="height: 300px; background-color: inherit; border: none;">
					<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<form id="updateMembersForm" method="POST" action="/clubs/updateMembers/<%= club._id %>" style="width: 150px; display: none;">
			<button type="submit" class="btn btn-success btn-lg" style="margin: 10px;">Update Members</button>	
		</form>
	</div>
	<br>
	<br>
    <div class="row">
	   	<div class="col-xs-8 col-sm-6" style="border: 2px solid grey; border-radius: 5px;  max-width: 45%; margin-right: 5%; margin-left: 2%;">
	    	<h3>Events</h3>
	    	<br>
	    	<table>
	    		<tr>
		    		<div class="container">
			    		<ul>
			    			<% events.forEach(function(event){ %>
			    				<div class="row">
			    				
			    					<div style="width: 100%; margin: 10px; margin-bottom: 40px;">
							 	   		<div class="">
								 	   		<h2 id="<%= event._id %>" style="float: left; color:#333; text-align: center;">
												<%= event.name %>
												<br>
												<br>
												<p style="font-size: 10px;  float: left; text-align: left;">
													<br>
													location: <%= event.location %>
													<br>
													<br>
													from: <%= event.fromDate %>
													<br>
													<br>
													to: <%= event.toDate %>
												</p>
											</h2>
											<br>
												
							 	   		</div>
										<div class="">
											<img class="img-circle" src="/club_uploads/events/<%= event.photo %>" alt="Generic placeholder image" width="150" height="150" style="float: right; margin-right: 0px;">
										</div>							
	       						</div>
			    					
			    			</div>
			    			<% }); %>
			    		</ul>	
		    		</div>
	    		</tr>
	    	</table>	
	    </div>

	    <div class="col-xs-8 col-sm-6" style="border: 2px solid grey; border-radius: 5px; max-width: 45%;">
	    	<h3>Gallery</h3>
	    	<br>
	    	<table>
	    		<tr>
		    		<div class="container">
		    			<% club.photos.forEach(function(photo){ %>
		    				<img style="max-width: 100%; margin: 5px;" src="/club_uploads/<%= photo.src %>">
		    				<h5 style="text-overflow: ellipsis; max-width: 200px; white-space: nowrap;
	  						overflow: hidden; "><%= photo.name %></h5>
		    			<% }); %>			    		
		    		</div>
	    		</tr>
	    	</table>
	    </div>
    </div>
</div>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script type="text/javascript">

	var redirectSignIn = function() {
		window.location.href = '/users/signin'; 
	}

	var redirectToLink = function(link) {
		console.log(link);
		window.open(link,'_blank');
	}

	var ensureAuthenticated = function() {
		var url = $(location).attr('href').split('/');
		var userID = url[url.length-1];
		console.log(userID);
		$.post('/clubs/ensureAuthenticatedClub/'+userID, function(data) {
			console.log(data)
			if(data.flag==="true") {
				$('#updateMembersForm').show();
			}
		});
	}
	$(document).ready(function(){
	    ensureAuthenticated();
	});
	$('.viewBtn').click(function() {
		var departmentID = $(this).attr('id');
		$.get('/clubs/membersOfSingleDepartment/'+departmentID, function(data) {
			if(data.public==="false") {
				var html = 'Private Members!';
				$('#backgroundDiv').show();
				$('#topDiv').html(html);
				$('#topDiv').show();
			}
			var html = '<div id=\"membersTable\" class=\"container\" style=\"margin-left25%; float:left; margin-top:100px; border: solid white;\">'
  				+ '<h2>Members of '+data.name+'</h2>'
				+ '<table class=\"table\">'
    			+ '<thead><tr>'
        		+ '<th style=\"width: 10%;\"></th>'
				+ '<th style=\"width: 30%;\">Name</th>'
				+ '<th style=\"width: 20%;\">Role</th>'
				+ '<th style=\"width: 20%;\">Rating</th>'
				+ '<th style=\"width: 20%;\">Review</th>'
      			+ '</tr></thead>'
 				+ '<tbody>';
			data.members.forEach(function(member, index) {
				if(member!=null) {
					
					html += '<tr><td>#'+index+'</td>';
					if(member.exists=="true") {
						html += '<td><a href=\"/users/viewprofile/'+member.profileId+'\">'+member.name+'</a></td>'
					} else {
						html += '<td>'+member.name+'</td>'
					}
					html += '<td>'+member.role+'</td>'
					+ '<td>'+member.rating+'</td>'
					+ '<td>'+member.review+'</td>'
					+ '</tr>';
				}
			});
			html += '</tbody></table></div>';
			$('#backgroundDiv').show();
			$('#tableTopDiv').html(html);
			$('#tableTopDiv').show();
			$('#topDiv').show();
		});
		getUserPermission(departmentID);
	});

	var getUserPermission = function(departmentID) {
		$.post('/clubs/getUserPermissionForDepartment/'+departmentID, function(data) {
			console.log(data)
			if(data=="true") {
				var editMembersBtn = '<a class="btn btn-success btn-lg" href=\"/clubs/editMembersOfDepartment/'+departmentID+'\" id=\"editMembersBtn\" style=\"margin-top:40vh; margin-left:50px; float: left; position: fixed;\">Edit Members</a>';
				$('#tableTopDiv').after(editMembersBtn);
			} else {
				$('#editMembersBtn').remove();
			}
		});
	}

	var getUserPermissionSub = function(departmentID, subDepartmentID) {
		console.log(subDepartmentID)
		$.post('/clubs/getUserPermissionForSubDepartment/'+subDepartmentID, function(data) {
			console.log(data)
			if(data=="true") {
				var editMembersBtn = '<a class="btn btn-success btn-lg" href=\"/clubs/editMembersOfSubDepartment/'+departmentID+'/'+subDepartmentID+'\" style=\"margin-top:40vh; margin-left:50px; float: left; position: fixed;\">Edit Members</a>';
				$('#tableTopDiv').after(editMembersBtn);
			}
		});
	}

	$('.viewBtnNest').click(function() {
		var departmentID = $(this).parent().parent().find('h4').attr('id');
		var subDepartmentID = $(this).attr('id');
		var url = '/clubs/membersOfNestedDepartment/'+departmentID+"/"+subDepartmentID;
		$.get(url, function(data) {
			if(data.public==="false") {
				var html = 'Private Members!';
				$('#backgroundDiv').show();
				$('#topDiv').html(html);
				$('#topDiv').show();
			}
			var html = '<div id=\"membersTable\" class=\"container\" style=\"width:70%; margin-top:100px; border: solid white;float:left;\">'
  				+ '<h2>Members of '+data.name+'</h2>'
				+ '<table class=\"table\">'
    			+ '<thead><tr>'
        		+ '<th style=\"width: 10%;\"></th>'
				+ '<th style=\"width: 30%;\">Name</th>'
				+ '<th style=\"width: 20%;\">Role</th>'
				+ '<th style=\"width: 20%;\">Rating</th>'
				+ '<th style=\"width: 20%;\">Review</th>'
      			+ '</tr></thead>'
 				+ '<tbody>';
 			if(data.members!=null)
				data.members.forEach(function(member, index) {
					if(member!=null)
						html += '<tr><td>#'+index+'</td>'
						+ '<td>'+member.name+'</td>'
						+ '<td>'+member.role+'</td>'
						+ '<td>'+member.rating+'</td>'
						+ '<td>'+member.review+'</td>'
						+ '</tr>';
				});
			html += '</tbody></table></div>';
			$('#backgroundDiv').show();
			$('#tableTopDiv').html(html);
			$('#tableTopDiv').show();
			$('#topDiv').show();
		});
		getUserPermissionSub(departmentID, subDepartmentID);
	});

	$('.viewBtnSub').click(function() {
		$(this).parent().find('.subDepartment').slideDown();
		$(this).hide();
		$(this).parent().find('.hideBtnSub').show();
	});
	$('.hideBtnSub').click(function() {
		$(this).parent().find('.subDepartment').slideUp();
		$(this).hide();
		$(this).parent().find('.viewBtnSub').show();
	});

	$(document).mouseup(function (e) {
	    var container = $("#membersTable");
	    if (!container.is(e.target) 
	        && container.has(e.target).length === 0) {
	        container.hide();
	        $('#backgroundDiv').hide();
	        $('#topDiv').hide();
	    }
	});

	$(document).keyup(function(e) {
	  if (e.keyCode === 27) {
			$('#backgroundDiv').hide();
			$('#topDiv').hide();
	  }
	});

	$('#scrollRight').click(function() {
    	$('#depsDiv').animate( { scrollLeft: '+=400' }, 300, 'easeOutQuad' );
	});
	$('#scrollLeft').click(function() {
    	$('#depsDiv').animate( { scrollLeft: '-=400' }, 300, 'easeOutQuad' );
	});
</script>
