<div id="topDiv" style="position: fixed; z-index: 9; width: 100%; height: 80%; display: none; color: white; align-self: center; font-size: 20px; overflow-y: scroll;">
	<div id="tableTopDiv" style="display: none;">
		
	</div>
</div>
<div class="clubprofile">
    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12" style="margin-right: auto; margin-left: auto;">
                    <img class="img-responsive" src="/club_uploads/<%= dude.profilephoto %>" width="300" height="250" alt="">
                    <div class="intro-text">
                        <h1 class="name">This is <%= dude.name%>!</h1>
                        <hr class="star-light">
                        <br>
			 	   		<br>
			 	   		<div style="text-align: center; align-self: center; ">
			 	   			<span>Email:
				 	   		<span class="email">
				 	   			<%= dude.email%>
				 	   		</span>
					 	   	</span>
					 	   	<br>
					 	   	<br>
					 	   	<span>About:
					 	   		<p><%= dude.summary%></p>
					 	   	</span>
			 	   		</div>
				 	   	
					    <div class="row">
					    	<div class="col-sm-4">
						   		<a href="/clubs/viewAllMembers/<%= club.id %>" class="btn btn-lg btnOnGreen">View All Members</a>
							</div>
				 	   	    <% if(user!=null && dude.id.toString()==user.id){ %>
							    	<div class="col-sm-4">
								    	<a href="/clubs/editStructre/<%= user.id %>" class="btn btn-lg btnOnGreen">Edit Structre</a>
							    	</div>
							    	<div class="col-sm-4">
								   		<a href="/events/addEvent" class="btn btn-lg btnOnGreen">Add Event</a>
							    	</div>
						    <% } %>   
					    </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

	<div class="container container-fluid structure" style="padding-top: 100px; align-self: center; color: white; background-color: #fff; min-height: 100vh;">
		<div class="row row-eq-height" style="color: #333;">
			<div class="singleDepartment col-xs-4" style="margin-bottom: 30px;">
			</div>
			<div class="singleDepartment col-xs-4" style="margin-bottom: 30px;">
				<% if(president!=null && club.logo!="") { %>
				 	<img class="img-circle" src="/club_uploads/<%= president.profilephoto %>" alt="Generic placeholder image" width="200" height="185" style="align-self: center;">
				<% } else { %>
				 	<img class="img-circle" src="/club_uploads/<%= club.logo %>" alt="Generic placeholder image" width="200" height="185" style="align-self: center;">
				<% } %>
					<h3 style="text-align: center;">President</h3>
					<h4 <%if(president.profileId!="none") { %> 
							class="clickableh2" id="<%= president.profileId %>"
							style="cursor:pointer; text-align: center;" 
						<% } else { %>
						style=" text-align: center;"
						<% } %>
						>		
						<%= president.name || "no preisdent!"%>
					</h4>
			</div>
			<div class="singleDepartment col-xs-4" style="margin-bottom: 30px;">
			</div>
		</div>
		<br>
		<br>
		<div class="row row-eq-height">
			<div class="singleDepartment col-xs-1" style="width: 5%; padding: 0; color: #333;">
				<button id="scrollLeft" class="scrollBtn" style="height: 300px; border: none; background-color: inherit;">
					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
				</button>
			</div>
			<div class="deps" id="depsDiv" style="display: flex; width: 90%; text-align: center; color: #333;">
				<% departments.forEach(function(department) { %>
					<div class="singleDepartment " style="margin-bottom: 40px;">
						<img class="img-circle" src="/club_uploads/<%= department.photo %>" alt="Generic placeholder image" width="180" height="160">
						<h4 class="clickableh2" id="<%= department._id %>" style="text-align: center;"><%= department.name %></h4>
						
						<% if(department.nestedType!=null && department.nestedType==="true") { %>
						<div class="subDepartment" id="<% department._id %>" style="display: none;">
							<% department.subDepartments.forEach(function(subDepartment) { %>
								<img class="img-circle" src="/club_uploads/<%= subDepartment.photo %>" alt="Generic placeholder image" width="140" height="120">
								<h4 style="text-align: center;"><%= subDepartment.name %></h4>
								<h4 class="viewBtnNest" id="<%= subDepartment.id %>" style="cursor:pointer; color:gray;">View Memebers</h4>

							<% }); %>
						</div>
						<h4 class="viewBtnSub" id="<%= department.id %>" style="cursor:pointer; color:gray;">View Subdepartment</h4>

						<h4 class="hideBtnSub" id="<%= department.id %>" style="cursor:pointer; color:gray; display: none;">Hide Subdepartment</h4>

						<% } else { %>
							<% if(department.public=="false") { %>
								<h4 style="color:gray; margin-left: 30px;">Private Memebers</h4>
							<% } else { %>
								<h4 class="viewBtn" id="<%= department.id %>" style="cursor:pointer; color:gray;">View Memebers</h4>
							<% } %>
						<% } %>
						
					</div>
				<%  }); %>
			</div>
			<div class="singleDepartment col-xs-1" style="width: 5%; padding: 0; color: #333;">
				<button id="scrollRight" class="scrollBtn" style="height: 300px; background-color: inherit; border: none;">
					<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<form id="updateMembersForm" method="POST" action="/clubs/updateMembers/<%= club._id %>" style="width: 150px; display: none;">
			<button type="submit" class="btn btn-success btn-lg" style="margin: 10px;">Update Members</button>	
		</form>
	</div>
	<br>
	<br>
		<div style="background-color: #18BC9C; color: white">
	    <div class="container">	
		   	<h3 style="margin-left: auto; margin-right: auto; text-align: center;">Events</h3>
		   	<br>
	    	<div class="row">
		    	<div class="singleDepartment col-xs-1" style="width: 5%; padding: 0;">
					<button id="eventsLeft" class="scrollBtn" style="height: 300px; border: none; background-color: inherit;">
						<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
					</button>
				</div>
		    	<div class="deps" id="eventsDiv" style="display: flex; width: 90%; text-align: center;">
		    		<% events.forEach(function(event){ %>
			 	   		<div class="singleDepartment" style="margin-right: 10px; min-width: 250px;">
							<img class="img-circle"  src="/club_uploads/events/<%= event.photo %>" alt="Generic placeholder image" width="150" height="150" style="max-width: 100%; margin: 5px;">
				 	   		<h2 id="<%= event._id %>">
								<div style="white-space: nowrap;overflow: hidden;
								text-overflow: ellipsis; align-self: center; text-align: center;">
								<%= event.name %></div>
								<br>
								<p style="font-size: 10px; text-align: center;">
									<br>
									location: <%= event.location %>
									<br>
									<br>
									from: <%= event.fromDate %>
									<br>
									<br>
									to: <%= event.toDate %>
								</p>
							</h2>
							<br>	
			 	   		</div>
		    		<% }); %>
		    	</div>
		    	<div class="singleDepartment col-xs-1" style="width: 5%;">
					<button id="eventsRight" class="scrollBtn" style="height: 300px; background-color: inherit; border: none;">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					</button>
				</div>
		    </div>
	    </div>
	    </div>

	    <div class="container">	
		   	<h3 style="margin-left: auto; margin-right: auto; text-align: center;">Gallery</h3>
		   	<br>
	    	<div class="row">
		    	
		    	<div class="singleDepartment col-xs-1" style="width: 5%; padding: 0; color: #333;">
					<button id="photosLeft" class="scrollBtn" style="height: 300px; border: none; background-color: inherit;">
						<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
					</button>
				</div>

		    	<div class="deps" id="photosDiv" style="display: flex; width: 90%; text-align: center; color: #333;">
		    		<% club.photos.forEach(function(photo){ %>
		    		<div class="singleDepartment" style="width: 350px;">
	    				<img  width="350" height="300" src="/club_uploads/<%= photo.src %>">
	    				<h4 style="text-overflow: ellipsis;  white-space: nowrap; overflow: hidden;
	    				text-align: center; margin: 0; margin-right: 0;"><%= photo.name %></h4>
		    			
		    		</div>
			    	<% }); %>
		    	</div>
		    	<div class="singleDepartment col-xs-1" style="width: 5%; padding: 0; color: #333;">
					<button id="photosRight" class="scrollBtn" style="height: 300px; background-color: inherit; border: none;">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					</button>
				</div>
		    </div>
	    </div>
</div>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script type="text/javascript" src="/js/club_scripts/clubProfile.js"></script>

<style type="text/css">
	.scrollBtn:focus {
	  outline: none;
	}
</style>